header {
  width: 100%;
  height: 70px;
  background-color: #1a2d5a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 70px;
  width: auto;
  margin-right: 20px;
}

#nombreUsuario {
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}
.headernav ul li{
  list-style: none;
  display: inline;
}
.headernav ul li a{

  border: 1px solid #ffffff;
  padding: 20px;
  margin-top: 5px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}
.headernav a:hover {
  background-color: #ffffff;
  color: #1a2d5a;
}

