.barraNav {
  width: 20%;
  background-color: #1a2d5a;
  height: 100%;
  position: fixed;
}

.barraNav a {
  border: 1px solid #ffffff;
  display: block;
  padding: 20px;
  margin-top: 5px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}

.barraNav a:hover {
  background-color: #ffffff;
  color: #1a2d5a;
}
